#p5_container {
	margin-top: 30px;
	color: #700;
	font-size: 12px;
}
	#p5_realisedBy {
		text-align: center;
	}
		#p5_realisedBy b {
			color: #2fa4e7;
		}
		#twitch {
			color: red;
		}

	#p5_attribution {
		text-align: center;
	}